body
{
    background-color: beige;
    color: gray;
}

header
{
    display: flex;
    justify-content: space-between;
}

header h1
{
    margin: 0.5rem 1rem;
}

header nav ul
{
    display: flex;
    list-style: none;
    margin: 0px;
    margin-right: 1rem;
}

nav ul li
{
    margin: 1rem
}

header nav ul li a
{
    display: block;
    padding: 0.5rem, 1rem;
    text-decoration: none;
    color: darkgray;
    transition: background-color 1s;
}

header nav ul li a:hover
{
    background-color: gainsboro;
    color: grey;
}

main
{
    background-color: gainsboro;
    color: black;
    padding: 1rem;
}

main h2
{
    margin: 0.2px;
}

/*
a
{
    color: gray;
    background-color: violet;
    line-height: 1.5;
}*/